{% extends 'base.html' %}

{% block content %}
<h1>Vue Code In File Below</h1>
<div id="{{ vue_element }}">
	<h2>[[ vueTestData ]]</h2>
</div>
<script>
	{% include 'blog/blog.vue' %}
</script>
{% endblock content %}