{% load static %}
<html>
<head>
	{% block css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/staff_test.css' %}">
	{% endblock css %}
	{% block js %}
	<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
	{% endblock js %}
</head>

<body>
	{% block content %}
	{% endblock content %}
</body>
</html>